apiVersion: v1
kind: Namespace
metadata:
  name: llm-chaos
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: rq-llm
  namespace: llm-chaos
spec:
  hard:
    requests.cpu: "8"
    requests.memory: 16Gi
    limits.cpu: "12"
    limits.memory: 24Gi